-# edit.html.haml using partial

#movie-info

  %h1 Edit Existing Movie

  = form_tag movie_path(@movie), :method => :put do

    = label :movie, :title, 'Title'
    = text_field :movie, 'title'

    = label :movie, :director, 'Director'
    = text_field :movie, 'director'

    = label :movie, :description, 'Description'
    = text_area :movie, 'description', rows: 25, cols: 80

    = label :movie, :rating, 'Rating'
    = select :movie, :rating, Movie.all_ratings

    = label :movie, :release_date, 'Released On'
    = date_select :movie, :release_date, start_year: 1900

    = label :movie, :trailer, 'Trailer'
    = text_field :movie, 'trailer'

    %br

    = submit_tag 'Update Movie Info'
