-#  This file is app/views/movies/index.html.haml
%h1 Movies

= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @checked_ratings.include?(rating),
      :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => 'ratings_submit', :class => 'flat'

%table#movies
  %thead
    %tr
      = toggle_sort 'Movie Title', 'title', id: 'movie_title'
      = toggle_sort 'Director', 'director', id: 'movie_director'
      = toggle_sort 'Content Rating', 'rating', id: 'movie_content_rating'
      = toggle_sort 'Release Date', 'release_date', id: 'release_date'
  %tbody
    - @movies.each do |movie|
      %tr
        %td= link_to movie.title, movie_path(movie)
        %td= movie.director
        %td= movie.rating
        %td= movie.release_date.strftime("%B %d %Y")

= link_to 'Add new movie', new_movie_path
