%h1 Create New Movie

= form_tag movies_path do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :director, 'Director'
  = text_field :movie, 'director'

  = label :movie, :description, 'Description'
  = text_field :movie, 'description'

  = label :movie, :rating, 'Rating'
  = select :movie, :rating, @all_ratings

  = label :movie, :release_date, 'Released On'
  = date_select :movie, :release_date, start_year: 1900

  = label :movie, :trailer, 'Trailer'
  = text_field :movie, 'trailer'

  %br

  = submit_tag 'Save Changes'
