%h1 Find a Movie

= form_tag(movies_path, method: 'get') do

  = label :movie, :title, 'Title'
  = text_field :movie, 'title'

  = label :movie, :director, 'Director'
  = text_field :movie, 'director'

  %br
  = submit_tag 'Find Movie'
