-# in app/views/movies/show.html.haml

.movie-info
  %h2 Details about #{@movie.title}

  %ul.details
    %li
      Rating:
      = @movie.rating
    %li
      Released on:
      = @movie.release_date.strftime("%B %d, %Y")
    %li
      Director:
      = link_to @movie.director, movies_path(params.merge('director' => @movie.director))

  %h3 Description:
  = simple_format @movie.description

  %h3 Trailer:
  %iframe{:allowscriptaccess => 'always', :allowFullScreen => 'true', :frameborder => '0',
   :height => '315', :width => '560',
   :src => "//www.youtube.com/embed/#{@movie.trailer}",
   :title => 'YouTube video player'}

  %br

%nav
  %ul
    %li
      = link_to 'Back to movie list', movies_path
    %li
      = link_to 'Edit', edit_movie_path(@movie)
    %li
      = button_to 'Delete', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
