html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: White;
  color: DarkSlateGrey;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 10pt;
}

.wrapper {
  min-height: 100%;
  margin: 0 auto -60px;
}

.footer, .push {
  height: 60px;
}

.footer {
  width: 100%;
  background: orange;
  text-align: center;
  border-top: 4px solid gold;
}

div {
  &#main {
    margin: 0;
    padding: 0 20px 20px;
  }
  &#copyright {
    font-size: 16px;
    color: white;
    margin: 20px auto;
  }
}

a {
  background: transparent;
  color: maroon;
  text-decoration: underline;
  font-weight: bold;
}

h1 {
  color: maroon;
  font-size: 150%;
  font-style: italic;
  display: block;
  border-bottom: 1px solid DarkSlateGrey;
  &.title {
    margin: 0 0 1em;
    padding: 10px;
    background-color: orange;
    color: white;
    border-bottom: 4px solid gold;
    font-size: 2em;
    font-style: normal;
    text-decoration: none;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}

table#movies {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  border-bottom: 2px solid black;
  th {
    border: 2px solid white;
    font-weight: bold;
    background-color: wheat;
    &.hilite {
      background-color: yellow;
    }
    padding: 4px;
    text-align: left;
  }
  td {
    padding: 4px;
    text-align: left;
  }
}

.flat {
  position: relative;
  vertical-align: top;
  padding: 0;
  color: white;
  text-align: center;
  background: orange;
  border: 0;
  cursor: pointer;
  &:active {
    top: 1px;
    outline: none;
    box-shadow: none;
  }
}

#notice #warning {
  background: rosybrown;
  margin: 1em 0;
  padding: 4px;
}

form label {
  display: block;
  line-height: 25px;
  font-weight: bold;
  color: maroon;
}

nav {

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0px 12px 0px 0px;
  }

  a {
    display: block;
  }
}

.main-nav {

  font-size: 150%;

  li {
    background-color: orange;
    border: 2px solid;
    border-radius: 25px;
    padding: 6px 12px;
  }

  a {
    text-decoration: none;
  }

}
