!!! 5
%html
  %head
    %title Rotten Potatoes
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application'
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'

  %body
    .wrapper
      %h1.title= link_to 'Rotten Potatoes', movies_path
      %nav{class: 'main-nav'}
        %ul
          %li
            = link_to 'Main', movies_path
          %li
            = link_to 'Search', search_path
      #main
        - if flash[:notice]
          #notice.message= flash[:notice]
        - elsif flash[:warning]
          #warning.message= flash[:warning]

        = yield
      .push

    %footer{class: 'footer'}
      #copyright
        %strong No Copyright
